:root {
    --white: #fff;
    --black: #000;
    
    --font-family: "Lato", sans-serif;
    --top-bar-height: 50px;
    --top-bar-background: #3c0000;
    --top-bar-color: var(--white);
    --top-bar-hover-background: #ffc222;
    --top-bar-hover-color: var(--black);
    --top-bar-border-color: #5a534d;
    --masthead-height: 85px;
    --masthead-background: #500000;
    --masthead-color: var(--white);
    --masthead-font-size: 36px;
    --masthead-font-weight: 500;
    --bottom-nav-height: 65px;
    --bottom-nav-background: #ededed;
    --botton-nav-color: var(--black);
    --bottom-nav-hover-background: #343a40;
    --bottom-nav-hover-color: var(--white);
}

* { margin: 0; padding: 0; box-sizing: border-box;}

html, body {height: 100%;}

body{ font-family: var(--font-family); }